<a href="https://colab.research.google.com/github/megmia40/CovidExaminations/blob/main/Examining_Covid_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Access data from spreadsheets by connecting with google
# Run this code and enter a key to authenticate every session
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [ ]:
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1heIQTJ3rS4wXnzrVXYkRIzB8u3zbvdQih5Q-F9dUY74/edit?usp=sharing')

# Importing data into a Pandas data frame
sheet = wb.worksheet('all-states-history') #change this sheet name for a new dataset
data = sheet.get_all_values()

# Storing data in dataframe
df = pd.DataFrame(data)

# Headings
df.columns = df.iloc[0]
df = df.iloc[1:]

# Printing data to check
df.head()

0        date state  ... totalTestsViral totalTestsViralIncrease
1  2021-01-16    AK  ...         1398649                    9423
2  2021-01-16    AL  ...                                       0
3  2021-01-16    AR  ...         2261205                   12593
4  2021-01-16    AS  ...            2140                       0
5  2021-01-16    AZ  ...         5969026                   56755

[5 rows x 42 columns]

In [ ]:
# Extracting the most recent data as of Jan 16th
df.head()
last_day_data = df[0:56]
last_day_data.head(10)

0         date state  ... totalTestsViral totalTestsViralIncrease
1   2021-01-16    AK  ...         1398649                    9423
2   2021-01-16    AL  ...                                       0
3   2021-01-16    AR  ...         2261205                   12593
4   2021-01-16    AS  ...            2140                       0
5   2021-01-16    AZ  ...         5969026                   56755
6   2021-01-16    CA  ...        37802255                  352719
7   2021-01-16    CO  ...                                       0
8   2021-01-16    CT  ...         4867707                       0
9   2021-01-16    DC  ...                                       0
10  2021-01-16    DE  ...                                       0

[10 rows x 42 columns]

In [ ]:
# Subsetting the data to only include : "states","dataQualityGrade","death",
#"hospitalized","negative","positive","recovered","totalTestResults"

dfs = last_day_data[["state","dataQualityGrade","death","hospitalized","negative","positive","recovered","totalTestResults"]]

dfs.head()

0 state dataQualityGrade  death  ... positive recovered totalTestResults
1    AK                A    229  ...    50017      7165          1398649
2    AL                A   6119  ...   420681    221961          2021123
3    AR               A+   4293  ...   270178    240051          2261205
4    AS              N/A      0  ...        0                       2140
5    AZ               A+  11248  ...   666901     90640          5969026

[5 rows x 8 columns]

In [50]:
#Remove data of states (rows) with the data quality grade, "D" 
#Store the rest of data in a new data frame

goodData = dfs[dfs.dataQualityGrade != 'D']
goodData = goodData.reset_index(drop=True)

goodData = dfs[dfs.negative != '']
goodData = goodData.reset_index(drop=True)

goodData["death"] = goodData["death"].astype(int)
goodData["negative"] = goodData["negative"].astype(int)
goodData["positive"] = goodData["positive"].astype(int)
goodData["totalTestResults"] = goodData["totalTestResults"].astype(int)

goodData.describe()

0             death      negative      positive  totalTestResults
count     55.000000  5.500000e+01  5.500000e+01      5.500000e+01
mean    7027.363636  3.884410e+06  4.257738e+05      5.075726e+06
std     8385.227326  6.216741e+06  5.222350e+05      6.854085e+06
min        0.000000  2.140000e+03  0.000000e+00      2.140000e+03
25%     1544.000000  7.439245e+05  1.000785e+05      1.176639e+06
50%     4293.000000  1.977712e+06  2.859700e+05      2.919566e+06
75%     8217.500000  4.067352e+06  5.740300e+05      5.928363e+06
max    32960.000000  3.490201e+07  2.900246e+06      3.780226e+07

In [51]:
#Finding states with cumulative death counts greater than the average 
average_death = goodData["death"].astype(float).mean()
isHighDeath = goodData['death'].astype(float) > average_death

high_death = goodData[isHighDeath]
print(high_death[['state','death']])

0  state  death
4     AZ  11248
5     CA  32960
10    FL  24380
11    GA  12291
15    IL  20020
16    IN   9287
19    LA   8080
20    MA  13583
23    MI  14669
29    NC   8016
33    NJ  20414
36    NY  32725
37    OH  10135
40    PA  19188
45    TN   8355
46    TX  31831

In [66]:
# Creating a new column called "positivity_rate" in the dataframe "goodData" which is the ration of the values in the column "positive" by those in "goodData"
goodData['positivity_rate'] = goodData['positive'] / goodData['totalTestResults']
goodData.head()

# A conditional which says that if goodData has a positivity rate between 0 and 5%, there regulations in place are working.
for n, row_value in goodData['positivity_rate'].iteritems():
      if goodData['positivity_rate'][n] > 0.00 and goodData['positivity_rate'][n] < 0.05: 
          print(goodData['state'][n], "has a positive covid testing rate of", round(goodData['positivity_rate'][n], 3), "and has good regulations in place already. ")
      if goodData['positivity_rate'][n] > 0.05 and goodData['positivity_rate'][n] < 0.2: 
          print(goodData['state'][n], "has a positive covid testing rate of", round(goodData['positivity_rate'][n], 3), "and needs better regulations. ")
      if goodData['positivity_rate'][n] > 0.2 and goodData['positivity_rate'][n] < 1.0: 
          print(goodData['state'][n],"has a positive covid testing rate of", round(goodData['positivity_rate'][n], 3),"and desperately needs better regulations and regulation enforcement.")

AK has a positive covid testing rate of 0.036 and has good regulations in place already.
AL has a positive covid testing rate of 0.208 and desperately needs better regulations and regulation enforcement.
AR has a positive covid testing rate of 0.119 and needs better regulations.
AZ has a positive covid testing rate of 0.112 and needs better regulations.
CA has a positive covid testing rate of 0.077 and needs better regulations.
CO has a positive covid testing rate of 0.075 and needs better regulations.
CT has a positive covid testing rate of 0.046 and has good regulations in place already.
DC has a positive covid testing rate of 0.034 and has good regulations in place already.
DE has a positive covid testing rate of 0.063 and needs better regulations.
FL has a positive covid testing rate of 0.087 and needs better regulations.
GA has a positive covid testing rate of 0.115 and needs better regulations.
GU has a positive covid testing rate of 0.074 and needs better regulations.
IA has a positive covid testing rate of 0.211 and desperately needs better regulations and regulation enforcement.
ID has a positive covid testing rate of 0.269 and desperately needs better regulations and regulation enforcement.
IL has a positive covid testing rate of 0.073 and needs better regulations.
IN has a positive covid testing rate of 0.092 and needs better regulations.
KS has a positive covid testing rate of 0.233 and desperately needs better regulations and regulation enforcement.
KY has a positive covid testing rate of 0.095 and needs better regulations.
LA has a positive covid testing rate of 0.079 and needs better regulations.
MA has a positive covid testing rate of 0.038 and has good regulations in place already.
MD has a positive covid testing rate of 0.051 and needs better regulations.
ME has a positive covid testing rate of 0.027 and has good regulations in place already.
MI has a positive covid testing rate of 0.066 and needs better regulations.
MN has a positive covid testing rate of 0.076 and needs better regulations.
MO has a positive covid testing rate of 0.111 and needs better regulations.
MP has a positive covid testing rate of 0.007 and has good regulations in place already.
MS has a positive covid testing rate of 0.17 and needs better regulations.
MT has a positive covid testing rate of 0.102 and needs better regulations.
NC has a positive covid testing rate of 0.083 and needs better regulations.
ND has a positive covid testing rate of 0.074 and needs better regulations.
NE has a positive covid testing rate of 0.095 and needs better regulations.
NH has a positive covid testing rate of 0.049 and has good regulations in place already.
NJ has a positive covid testing rate of 0.072 and needs better regulations.
NM has a positive covid testing rate of 0.076 and needs better regulations.
NV has a positive covid testing rate of 0.112 and needs better regulations.
NY has a positive covid testing rate of 0.042 and has good regulations in place already.
OH has a positive covid testing rate of 0.097 and needs better regulations.
OK has a positive covid testing rate of 0.119 and needs better regulations.
OR has a positive covid testing rate of 0.045 and has good regulations in place already.
PA has a positive covid testing rate of 0.181 and needs better regulations.
PR has a positive covid testing rate of 0.22 and desperately needs better regulations and regulation enforcement.
RI has a positive covid testing rate of 0.047 and has good regulations in place already.
SC has a positive covid testing rate of 0.104 and needs better regulations.
SD has a positive covid testing rate of 0.27 and desperately needs better regulations and regulation enforcement.
TN has a positive covid testing rate of 0.112 and needs better regulations.
TX has a positive covid testing rate of 0.135 and needs better regulations.
UT has a positive covid testing rate of 0.132 and needs better regulations.
VA has a positive covid testing rate of 0.09 and needs better regulations.
VI has a positive covid testing rate of 0.057 and needs better regulations.
VT has a positive covid testing rate of 0.012 and has good regulations in place already.
WA has a positive covid testing rate of 0.068 and needs better regulations.
WI has a positive covid testing rate of 0.098 and needs better regulations.
WV has a positive covid testing rate of 0.061 and needs better regulations.
WY has a positive covid testing rate of 0.089 and needs better regulations.